apiVersion: v1
kind: ServiceAccount
metadata:
    name: deployment-manager
    namespace: test
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
    name: deployment-manager
    namespace: test
rules:
    - apiGroups: ["apps"]
      resources: ["deployments"]
      verbs: ["create", "get", "list", "watch", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
    name: manage-deployments
    namespace: test
subjects:
    - kind: ServiceAccount
      name: deployment-manager
      namespace: test
roleRef:
    kind: Role
    name: deployment-manager
    apiGroup: rbac.authorization.k8s.io