apiVersion: apps/v1
kind: Deployment
metadata:
    name: k8s-worker
    namespace: test
spec:
    replicas: 1
    selector:
        matchLabels:
            app: k8s-worker
            number: "1"
    template:
        metadata:
            labels:
                app: k8s-worker
                number: "1"
        spec:
            containers:
            -   name: k8s-worker
                image: k8s-worker:1.0
                env:
                -   name: TASK_NUMBER
                    value: "1"
                resources:
                    limits:
                        memory: "128Mi"
                        cpu: "500m"
                    requests:
                        memory: "50Mi"
                        cpu: "100m"